<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if (!user){ %>
      <nav>
          <button><a href="/auth/google">LOGIN</a></button>
    <%} else{ %>
      <button><a href="/logout">Sign Out</a></button>
    <% } %>
      </nav>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/profiles/new">Create My Skin Routine</a>
    <br>
    <a href="/profiles">My Routine</a>
  </body>
</html>

